.viz-container{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #666;
    box-shadow: 3px 3px 3px 1px #999;
}

.viz-title{
    font-size: 40px;
    padding-bottom: 4px;
    padding-left: 10px;
    margin-bottom: 7px;
    border-bottom: 1px solid #999;
}

.vizFooter{
    font-size: 14px;
    font-family: Helvetica;
    color: #666;
    padding: 2px 5px;
    border-top: 1px solid #444;
}

.viz-controls{
    height: 30px;
    padding-left: 60px;
}

.annotation-note-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    fill: #444;
}

.annotation-note-label{
    font-family: Helvetica;
    font-size: 14px;
    fill: #444;
}

.bold-annot {
    font-weight: bold;
}

.tick > text{
    fill: #444 !important;
}

path.domain, .tick line{
    stroke: #444 !important;
}

button{
    background: #444;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 0;
    outline: none !important;
}